@font-face {
    font-family: "SourceSansPro-Black", sans-serif;
    src: url("../fonts/sourcesanspro-black.woff") format("woff");
    src: url("../fonts/sourcesanspro-black.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SourceSansPro-Bold", sans-serif;
    src: url("../fonts/sourcesanspro-bold.woff") format("woff");
    src: url("../fonts/sourcesanspro-bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SourceSansPro-Regular", sans-serif;
    src: url("../fonts/sourcesanspro-regular.woff") format("woff");
    src: url("../fonts/sourcesanspro-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SourceSansPro-SemiBold", sans-serif;
    src: url("../fonts/sourcesanspro-semibold.woff") format("woff");
    src: url("../fonts/sourcesanspro-semibold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SourceSansPro-Italic", sans-serif;
    src: url("../fonts/sourcesanspro-italic.woff") format("woff");
    src: url("../fonts/sourcesanspro-italic.woff2") format("woff2");
    font-display: swap;
}
