@import "./fonts.css";
@import "./normalize.css";
@import "./settings.css";
@import "./mobile.css";

/* Секция 1 */

.background-head {
    background-image: url("../media/wood.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:  center bottom;
    height: 100vh;
}

header {
    padding-top: 30px;
    }
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    font-weight: 400;
}
    
.wrapper {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    }

.wrapper-section {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 12vh;
    }

header .logo {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 18px;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
}

header .logo:hover {
    color:#e64a19;
}


.nav-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.header-link {
    display: flex;
}

.nav-header ul li a:hover {
    color:#e64a19;
}

.nav-header .nav-link {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
}

/* Бургер начало */

#menu__toggle {
    opacity: 0;
  }
  /* Бургер конец */


h1::after {
    content: "";
    display: flex;
    margin-top: 30px;
    width: 20%;
    height: 2px;
    background-color: #212121;
    position: relative;
    margin-left: 80%;
}

/* Текст под заголовком h1 */
.wrapper-storyteller-text {
    display: inline-block;
    margin-top: 42px;
    width: 48%;
    text-align: right;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: -0.4px;
    
}

/* Кнопка */
.wrapper-storyteller-button {
    display: inline-block;
    border: 2px solid #212121;
    margin-top: 46px;
    padding: 16px 96px 16px 81px;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #212121;
    }

.wrapper-storyteller-button:hover {
    color:#e64a19;
    background-color: #212121;
}

/* Секция 2 */

.who-why {
    text-align: center;
    padding: 80px 0;
}
.who-why img {
    padding-bottom: 30px;
}

.who-why p {
margin: 0 auto;
max-width: 73%;
font-size: 16px;
line-height: 2em;
padding: 60px 0 0;
}

/* Секция 3 */

.features {
    padding: 80px 0 110px 0;
    background-color: #efefef; 
    display: flex;
    justify-content: space-around;
}

.item-feature {
    max-width: 22%;
}

.item-feature p {
    margin-top: 20px;
    font-weight: 600;
    line-height: 2em;
}

.item-feature h3 {
    margin-top: 25px;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 2px;
}
/* Секция 4 */

.featured-articles {
    padding: 110px 0 140px 0;
}

.featured {
    max-width: 80%;
    padding-bottom: 30px !important;
}

.buttons-featured {
    position: relative;
}
.articles-text {
    margin: 60px auto;
    width: 62%;
    font-size: 16px;
    text-align: center;
    line-height: 2em;
}
 
.featured-button-next::after {
display: none;
} 
.featured-button-prev::after {
    display: none;
    } 
.swiper-button-next {
    background-image: url(../media/button-next.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
}
.swiper-button-prev {
    background-image: url(../media/button-prev.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
}

.featured-wrapper-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px;
    background-color: #212121;
    color: #fff;
    height: 350px;
}

.wrapper-item-sentence {
    font-size: 24px;
}

.featured-articles-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.featured-articles-item img {
    border-radius: 50px;
    border: 2px solid #fff;
}


/* Секция 5 */
.clients {
    padding: 70px 0 100px 0;
    background-color: #efefef;
    position: relative;
}

.clients-swipe {
    max-width: 80%;
}
.clients-button-next::after {
    display: none;
}
.clients-button-prev::after {
    display: none;
}
.swiper-slide img {
    max-width: 100%;
    height: auto;
}
  /* Секция 6 */

  .portfolio-screenshots {
    padding: 100px 0 70px 0;
  }


  .portfolio-screenshots p {
    margin: 30px auto;
    max-width: 52%;
    font-size: 16px;
    text-align: center;
    line-height: 2em;
  }

  .portfolio-screenshots p::after {
    content: "";
    display: block;
    height: 7px;
    background-color: #e64a19;
    width: 60px;
    position: relative;
    left: 50%;
    margin: 30px 0  0 -30px;
  }

  .portfolio-screenshots ul {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      padding-inline-start: 0;
      max-width: 50%;
      font-size: 16px;
      margin: 30px auto
  }

  
.btn {
    background: none;
    border: none;
}

.swiper-portfolio {
    max-width: 1500px;
    padding-bottom: 40px !important;

}

.swiper-portfolio .swiper-slide {
    height: 359px;
}
.slide-portfolio img {
    width: 100%;
    height: 100%;
  }

/* Секция 7 */

.denis-waitley {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    background-color: #212121;
    font-size: 20px;
    text-align: center;
    color:#fff;
    
}

.paragraf-denis-waitley {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 2em;
    
}
.paragraf-denis-waitley::before {
    display: block;
    position: relative;
    content: "\275C\275C";
    color: #fff;
    font-size: 40px;
}

.text-denis-waitley {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}


/* Секция 8 */

.team-members {
    padding: 108px 15px 130px;
}

.team-members p {
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    text-align: center;
    line-height: 2em;
}

.block-team-members {
    text-align: center;
    margin-bottom: 20px;
}

.block-team-members h4 {
    margin: 0;
    padding: 0;
}

.block-team-members p {
    width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.container-team-members {
    display: flex;
    justify-content: space-around;
}

.wrapper-img-tem-members {
    max-width: 160px;
    height: 143px;
}

.wrapper-img-tem-members img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

 /* Секция 9  */

 .facts-numbers {
    background-image: url(../media/fact-numbers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .container-facts-numbers {
     display: flex;
     flex-direction: column;

 }

 .facts-numbers-background {
    padding: 103px 0 145px;
    background-color: #212121;
    opacity: 0.6;
}

 .facts-numbers h2 {
    color:#fff;
 }

 .facts-numbers p {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 24px;
    color:#fff;
    letter-spacing: 2px;
 }
 .successful-projects-figures {
     position: relative;
     padding-bottom: 20px;
 }
 .successful-projects-text {
    padding-top: 20px;
 }
 .successful-projects-figures::after {
     content: "";
     display: block;
     width: 60px;
     height: 4px;
     background-color: #000;
     position: absolute;
     left: 50%;
     margin-left: -30px;
     bottom: 0;
     
 }

 .block-facts-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.3);
    margin: 0 auto;
    max-width: 830px;
    margin-top: 30px;
}

.facts-numbers-background::after {
    content: "";
    display: block;
    height: 7px;
    background-color: #e64a19;
    width: 7%;
    margin: 0 auto;
}
 .successful-projects {
     text-align: center;
     margin: 30px;
 }


  /* Секция 10 */

  .section-photo-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 110px 15px;
  }

  .block-text, .block-text-order {
    align-self: center;
    text-align: center;
    line-height: 2em;
  }
    .block-text h4, .block-text-order h4 {
    margin: 15px 0 30px;
  }
  .block-photo img {
    max-width: 100%;
    height: auto;
  }

/* Секция 11 */

.personal {
    background-color: #efefef;
    padding: 0 15px;
}
.personal-swiper {
    max-width: 80%;
}
.personal-wrapper {
    padding: 0 15px;
}
.personal-block {
    padding: 50px 0 50px 0;
    margin: 0 auto;
    position:relative;
}

.paradise {
    position: relative;
    margin-left: 10px;
    max-width: 70%;
}

.paradise::before {
    position: absolute;
    left: -10px;
    content:"";
    display: block;
    width: 3px;
    height: 40px;
    background-color: #212121;
}

.paradise-paragrah {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.paradise-text {
    font-size: 14px;
    font-weight: lighter;
}

.personal-button-next::after {
    display: none;
}
.personal-button-prev::after {
    display: none;
}

/* Секция 12 */

.twitter-gail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 100px;
}

.twitter-gail picture {
    padding-bottom: 40px;
}

.twitter-gail-text {
    padding-bottom: 40px;
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 18px;
    max-width: 65%;
    text-align: center;
    line-height: 2em;
}

.twitter-gail-paragraph {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* Секция 13 */

footer {
    padding: 80px 15px 40px 15px;
    background-color: #212121;
    color: #999999;
}

.wrapper-footer {
    margin: 0 auto;
    max-width: 1170px;
}
.unicorn-links {
    display: flex;
    justify-content: space-between;
}
.unicorn {
    max-width: 40%;
}
.unicorn h2 {
    text-align: start;
}
.unicorn-text {
    padding: 30px 0 30px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #474747;
    text-transform: uppercase;
    padding-bottom: 6px;
}

#message {
    margin-top: 20px;
    width: 100%;
}

#button {
    width: 100%;
    border: none;
    border-bottom: 2px solid #474747;
    background-color: transparent;
    color: #999999;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 6px;
}
.send-form-send {
    display: flex;
    justify-content: space-between;
}
.send-text {
    padding: 80px 0 30px;
}
.send-words {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 40%;
}

 footer h2 {
    padding: 0;
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 22px;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #eeeeee;
 }

 .footer-word {
     /* padding-right: 20px; */
 }
 footer p {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
    color: #999999;
 }

 footer .form, .form-message {
    font-family: "SourceSansPro-Regular", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2em;
    font-weight: 400;
    color: #999999;
 }

 footer .form::after {
     content: "";
     display: block;
     margin-top: 10px;
     width: 100%;
     height: 1px;
     background-color: #999999;
 }

 footer .column {
    display: flex;
    justify-content: space-around;
    flex: 100%;
 }

 footer .form-message::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #999999;
}

 footer h5 {
    padding-bottom: 35px;
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 15px;
    line-height: 2em;
    font-weight: 600;
    text-transform: uppercase;
    color: #dddddd;
 }
 .unicorn h2 {
    margin: 0;
}

 .footer-word {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 13px;
    line-height: 2em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaaaaa;
 }

 @media screen and (min-width: 650px) {
    .header-link li {
        margin-left: 20px;
    }
}
@media screen and (max-width: 1100px) {
    .wrapper-section {
        top: 5%;
        margin: 0 auto;
        padding-top: 0vh;
}

@media screen and (max-width: 700px) {
    .wrapper-storyteller-button {
        margin-top: 5px;
    }
    .wrapper-section {
        position: static;
        margin: 0 auto;
    }
}

@media screen and (max-width: 650px) {
    h1::after, .header-link {
        display:none;
    }
    header {
        padding-top: 10px;
    }
    .wrapper-section h1 {
        font-size: 40px;
    }
    .wrapper-section {
        align-items: center;
    }
    .wrapper-storyteller-text {
        margin-top: 0;
        width: 60%;
        text-align: center;
    }
    .who-why  {
        padding: 10px 0;
    }
    .who-why p{
        max-width: 90%;
        padding: 10px 0;
    }
    .features {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .item-feature {
        max-width: 100%;
        text-align: center;
        margin: 30px 0 30px;
    }
    .item-feature h3,.item-feature p {
        margin: 0;
    }
    .featured-articles {
        padding: 20px 0;
    }
    .featured-articles p {
        width: 100%;
    }
    .portfolio-screenshots {
        padding: 20px 0;
    }
    .portfolio-screenshots p {
        max-width: 100%;
    }
    .portfolio-screenshots ul {
        max-width: 100%;
    }
    .team-members {
        padding: 20px 15px;
    }
    .team-members p {
        width: 100%;
    }
    .container-team-members {
        display: block;
    }
    .wrapper-img-tem-members{
        margin: 0 auto;
    }
    .section-photo-text {
        padding: 20px 15px;
        grid-template-columns: none;
        grid-template-rows: none;
    }
    .block-text-order {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .twitter-gail {
        padding: 20px 0;
    }
    .twitter-gail picture {
        padding: 5px;
    }
    .twitter-gail-text {
        max-width: 95%;
        padding: 0;
    }
    .unicorn-links {
        display: block;
    }
    footer {
        padding: 0px 15px;
    }
    .unicorn {
        padding: 0 0 20px;
        max-width: 100%;
    }
    .unicorn-text {
        padding: 0;
    }
    
    form input {
        width: 100%;
        margin-top: 20px;
    }
    .send-text {
        padding: 0;
    }
    .send-words {
        width: 100%;
        /* padding: 0 15px;
        justify-content: space-between; */
    }
    .send-form-send {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .wrapper-storyteller-text {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 23px;
        height: 25px;
        cursor: pointer;
        z-index: 2;
        bottom: 0px;
        right: 15px;
      }
      
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
    .menu__btn > span::before {
        content: '';
        top: -8px;
      }
    .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 30px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      
    .menu__item {
        display: block;
        padding: 25px 30px;
        color: #333;
        font-family: "SourceSansPro-Bold", sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
    .menu__item:hover {
        background-color: #CFD8DC;
      }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      } 
}


