@import "./fonts.css";
@import "./reset.css";
@import "./settings.css";

/* Секция 1 */

.background-head {
    background-image: url("../media/wood.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:  center bottom;
    height: 100vh;
}

header {
    position: relative;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
    height: 100%;
}

header .logo {
    font-size: 18px;
    text-decoration: none;
    color: #212121;
    text-transform: uppercase;
}

header .logo:hover {
    color:#fff;
}


.nav-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "SourceSansPro-Bold", sans-serif;
    font-weight: 800;
}

.nav-header ul {
    display: flex;
}

.nav-header ul li a:hover {
    color:#fff
}

.nav-header ul li {
    margin-right: 22px;
}

.nav-header .nav-link {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
}

/* Бургер начало */

.nav__check {display: none;}

.nav__showmenu {
    position: relative;
    z-index: 3;
    display: inline-block;
}

.menu {
    flex-direction: column;
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 220px;
    margin: 0;
    padding: 17px 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: #2c2c2c;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}

.menu__item {  
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover,.menu__showsub:hover {opacity: 0.7;}
.nav__showmenu:hover {
    color:#fff;
    cursor: pointer;
}

.nav__check:checked+.nav__showmenu {color:#fff;}
.menu__check:checked+.menu__showsub {transform: rotate(180deg);}
.nav__check:checked~.menu {transform: translateX(0);}

  /* Бургер конец */

.wrapper-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 20%;
}

/* Линия под заголовком */
h1::after {
    content: "";
    display: block;
    margin-top: 20px;
    width: 140px;
    height: 3px;
    background-color: #212121;
    position: absolute;
    right: 0;
}


h1 {
    margin-bottom: 15px;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -6px;
}

/* Текст под заголовком h1 */
.wrapper-storyteller-text {
    display: inline-block;
    margin-top: 42px;
    width: 48%;
    text-align: right;
    font-size: 18px;
    line-height: 2;
    letter-spacing: -0.4px;
    
}

/* Кнопка */
.wrapper-storyteller-button {
    display: inline-block;
    border: 2px solid #212121;
    margin-top: 46px;
    padding: 16px 96px 16px 81px;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #212121;
    }

.wrapper-storyteller-button:hover {
    color:white;
    background-color: #212121;
}

/* Секция 2 */

.who-why {
    text-align: center;
    min-height: 490px;
}

.who-why picture {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 39px;
    height: 39px;
    
}

.who-why picture img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.who-why h2 {
    margin-top: 23px;
}

.who-why p {
margin: 0 auto;
margin-top: 64px;
width: 73%;
font-size: 16px;
line-height: 33px;
}

/* Секция 3 */

.features {
    min-height: 370px;
    background-color: #efefef;
    display: flex;
    align-items: center;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px 40px 50px;
    
}

.item-feature {
    width: 21%;
}

.item-feature p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 1.5;
}

.item-feature h3 {
    margin-top: 25px;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.item-feature picture {
    position: relative;
    display: block;
    width: 40px;
    height: 33px;
}

.item-feature picture img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* Секция 4 */

.featured-articles {
    min-height: 840px;
}



.featured-articles h2 {
    padding-top: 100px;
}

.featured-articles .articles-text {
    margin: 0 auto;
    padding-top: 44px;
    width: 70%;
    font-size: 16px;
    text-align: center;
    line-height: 1.9;
}

.wrapper-item {
    display: flex;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: #fff;
    min-width: 0;
}

.featured-wrapper-item {
    padding-left: 37px;
    margin-right: 26px;
    width: 33.3%;
    background-color: #212121;
}


.wrapper-item-text {
    padding-top: 70px;
    font-size: 14px;
    text-transform: uppercase;
}

.wrapper-item-sentence {
    padding-top: 32px;
    font-size: 24px;
}
.item-text {
    padding-top: 9px;
    padding-left: 12px;
    width: 50%;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.featured-articles-item {
    display: flex;
    padding-top: 90px;
    padding-bottom: 32px;
    min-width: 0;
}

.featured-articles-item picture {
    position: relative;
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 100px; 
    border: 3px solid #212121;
    overflow: hidden;
}

.featured-articles-item picture img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Секция 5 */


.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 370px;
    background-color: #efefef;
}

.clients h2 {
    padding-bottom: 55px;
}

.container-wrapper {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.client {
    width: 55%;
}


.clients-slide {
    position: relative;
    display: block;
    width: 115px;
    height: 119px;
}

.clients-slide img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

  /* Секция 6 */

  .portfolio-screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 754px;
  }

  .portfolio-screenshots h2 {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .portfolio-screenshots p {
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    text-align: center;
    line-height: 1.9;
    padding-bottom: 110px;
  }

  .portfolio-screenshots ul {
      display: flex;
      justify-content: space-between;
      width: 25%;
      margin: 0 auto;
      padding-bottom: 40px;
      font-size: 16px;
  }

  .container-portfolio {
    width: 97%;
    margin: 0 auto;
  }


  .swiper-portfolio {
    margin: 0 auto;
    width: 100%;
}

.porfolio-slide {
    position: relative;
    display: block;
    width: 439px;
    height: 358px;
}

.swiper-porfolio-slide img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* пагинация */
.porfolio-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 20px;
}


/* Секция 7 */

.denis-waitley {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 310px;
    background-color: #212121;
    font-size: 20px;
    text-align: center;
    color:#fff;
    
}

.paragraf-denis-waitley {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    
}

.paragraf-denis-waitley::before {
    display: block;
    position: relative;
    content: "\275C\275C";
    color: #fff;
    font-size: 40px;
}

.text-denis-waitley {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}


/* Секция 8 */

.team-members {
    min-height: 676px;
}

.team-members h2 {
    padding-top: 112px;
    padding-bottom: 58px;
}

.team-members p {
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    text-align: center;
    line-height: 1.9;
    padding-bottom: 90px;
}

.block-team-members {
    text-align: center;
}

.block-team-members h4 {
    margin-top: 30px;
}

.block-team-members p {
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
}

.container-team-members {
    display: flex;
    justify-content: space-around;
}

.wrapper-img-tem-members {
    position: relative;
    width: 160px;
    height: 143px;
    display: block;
}

.wrapper-img-tem-members img {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 /* Секция 9  */

 .facts-numbers {
    min-height:100vh;
    width: 100%;
     background-image: url(../media/fact-numbers.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-color: rgba(255,255,255,0.3);
 }

 .facts-numbers-background {
    width: 100%;
    min-height: 100vh;
    background-color: #212121;
    opacity:0.6;
}

 .facts-numbers h2 {
     padding-top: 100px;
     padding-bottom: 69px;
     color:#fff;
 }

 .facts-numbers p {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 24px;
    color:#fff;
    letter-spacing: 2px;
 }

 .successful-projects-figures::after {
     content: "";
     display: block;
     margin-bottom: 20px;
     margin-top: 20px;
     width: 60px;
     height: 4px;
     background-color: #000;
     position: relative;
     left: 37%;
     
 }

 .block-facts-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 43%;
    min-height: 54vh;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
 }

 .successful-projects {
     text-align: center;
 }

  /* Секция 10 */

  .section-photo-text {
      padding-top: 104px;
  }

  .block-photo-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
      
  }

  .block-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 41%;
      padding: 0 20px 0 20px;
  }
  

  .right {
    order: 2;  
  }

  .left {
      order: 1;
  }
  .block-text-heading {
      font-size: 14px;
  }

  .container-photo-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
  }
  
  .block-text p {
    text-align: center;
  }

  .block-text h4 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 16px;
    text-align: center;
  }

  .block-photo {
    position: relative;
    display: block;
    width: 566px;
    height: 376px;
}

.block-photo img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Секция 11 */

.personal {
    background-color: #efefef;
}

.personal-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 218px;
    width: 96%;
    margin: 0 auto;
}

.paradise {
    position: relative;
}

.paradise p {
    padding-left: 20px;
}

.paradise::before {
    position: absolute;
    content:"";
    display: block;
    width: 3px;
    height: 40px;
    background-color: #212121;
}

.paradise-paragrah {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.paradise-text {
    font-size: 14px;
    font-weight: lighter;
}

/* Секция 12 */

.twitter-gail {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 460px;
}

.container-twitter-gail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 304px;
}

.twitter-gail-text {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 18px;
}

.twitter-gail-paragraph {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* Секция 13 */

footer {
    font-size: 14;
    background-color: #212121;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    align-items: center;
    min-height: 488px;
}

.container-unicorn {
    width: 50%;
}

.container-unicorn p {
    color: #999999;
}
.container-links {
    display: flex;
    width: 45%;
    justify-content: space-around;
}

footer h5 {
    text-transform: uppercase;
}

.container-unicorn h4 {
    margin-bottom: 36px;
    text-transform: uppercase;
    color: #fff;
}
form {
    margin-top: 36px;

}

input {
    display: inline-block;
}
.container-links p {
    color: #999999;
}

.container-links h5 {
    color: #dddddd;
    margin-bottom: 36px;
}

.email {
    display: inline-block;
}

.text-subject {
    display: inline-block;
    margin-left: 40px;
}

.text-message {
    margin-top: 10px;
}
.email::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999999;
    margin-top: 10px;
}

.text-subject::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999999;
    margin-top: 10px; 
}

.text-message::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999999;
    margin-top: 10px;
}

.container-send-input::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #999999;
    margin-top: 10px;
}

.container-send {
    width: 95%;
    position: relative;
    color: #999999;

}

.container-send-text {
    margin: 10px 0 10px 0;
}

.terms {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}

.terms p {
    display: inline-block;
    margin-right: 20px;
}