body {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 16px;
    background-color: #fff;
}

h1 {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 72px;
    line-height: 32px;
    font-weight: 900;
    color: #212121;
}
h2 {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 60px;
}

h4 {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-size: 16px;
    font-weight: 800;
}
